button{
    background-color: #c78a0f;
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

h1{
    font-size: 2em;
    color: #1c045d;
    text-align: center;
}

.red-button{
    background-color: #ff4d4d;
    color: white;
}